<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Questions list</h2>
        <ol class="breadcrumb">
            <li>
                Home
        </li>
        <li class="active">
            <strong>Questions list</strong>
        </li>
    </ol>
</div>
        </div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">


    <div class="form-group"><label class="col-2 control-label">For Doctor:</label>

        <div class="col-10">
            <%= select_tag :user_id, options_from_collection_for_select(User.doctors, "id", "full_name", params[:user_id]), onchange:"self.location='/questions'+'?user_id='+this.options[this.selectedIndex].value", prompt: "Select User", class: "form-control m-b" %>
        </div>
    </div>


    <div class="ibox">
        <div class="ibox-title">
            <h5>All Questions</h5>
            <% if can? :create, Question %>
                <div class="ibox-tools">
                    <%= link_to 'Create new question', new_question_path(user_id: params[:user_id]), class: 'btn btn-primary btn-xs' %>
                </div>
            <% end %>
        </div>
        <div class="ibox-content">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-1">
                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> <%= link_to 'Refresh', questions_path %></button>
                </div>
                <div class="col-md-11">

                    <%= form_tag(questions_search_path) do %>
                        <div class="input-group">
                            <%= text_field_tag :search, nil, placeholder: "Search", class: "input-sm form-control" %><span class="input-group-btn">
                                        <%= submit_tag 'Go!', class: "btn btn-sm btn-primary" %>
                                    </span>
                        </div>

                        
                    <% end %>
                </div>
            </div>

            <div class="project-list">

                <table class="table table-hover">
                    <tbody>
                    <% @questions.each do |question| %>
                    <tr>
                        <td class="project-status">
                            <span class="label <%= question.active ? 'label-primary' : 'label-default' %>"><%= question.active ? 'Active' : 'InActive' %></span>
                        </td>
                        <td class="project-title">
                            <%= question.title %>
                        <br />
                        <small>Created <%= question.created_at.strftime("%d-%m-%Y") %></small>
                    </td>
                    <td class="project-completion">
                    	<%= question.required ? 'Required' : 'Optional' %>
                    </td>
                    <td class="project-people">
                    	<%= question.question_type.try(:capitalize) %>
                    </td>
                    <td class="project-actions">
                        <%= link_to question_path(question), class: "btn btn-white btn-sm" do %>
                            <i class="fa fa-folder"></i> View
                        <% end %>
                        <%= link_to edit_question_path(question), class: "btn btn-white btn-sm" do %>
                            <i class="fa fa-pencil"></i> Edit
                        <% end %>
                    </td>
                    </tr>
                    <% end %>
        </tbody>
        </table>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>


