

                <!-- <form method="get" class="form-horizontal"> -->

 <%= form_for(user, url: user.persisted? ? user_path(user) : users_create_user_path(user), method: user.persisted? ? 'put' : 'post', html: {class: 'form-horizontal'}) do |f| %>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Business Name*</label>

                        <div class="col-sm-10"><%= f.text_field :business_name, value: user.business_name, class: "form-control" %></div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Address</label>

                        <div class="col-sm-10"><%= f.text_field :address, value: user.address, class: "form-control" %></div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Phone*</label>

                        <div class="col-sm-10"><%= f.text_field :phone, value: user.phone, class: "form-control phone" %></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Fax</label>

                        <div class="col-sm-10"><%= f.text_field :fax, value: user.fax, class: "form-control phone" %></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Website</label>

                        <div class="col-sm-10"><%= f.text_field :website, value: user.website, class: "form-control" %></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Business Email*</label>

                        <div class="col-sm-10"><%= f.text_field :contact_person_email, value: user.contact_person_email, class: "form-control" %></div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Contact Person First Name*</label>

                        <div class="col-sm-10"><%= f.text_field :first_name, value: user.first_name, class: "form-control" %></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Contact Person Last Name*</label>

                        <div class="col-sm-10"><%= f.text_field :last_name, value: user.last_name, class: "form-control" %></div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Contact Person Email*</label>

                        <div class="col-sm-10"><%= f.text_field :email, value: user.email, class: "form-control" %></div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Contact Person Number*</label>

                        <div class="col-sm-10"><%= f.text_field :contact_person_number, value: user.contact_person_number, class: "form-control phone" %></div>
                    </div>

                    <% if user.persisted? %>
                      <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label">Password</label>
                          <div class="col-md-10">
                            <%= f.password_field :password_visible, value: user.password_visible, class: "form-control", id: 'password-field' %>
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                          </div>
                        </div>
                    <% end %>

                    <div class="form-group"><label class="col-sm-2 control-label">Active <br/><small class="text-navy">Is user active?</small></label>

                        <div class="col-sm-10">

                        	<%= f.label 'Required' do %>
				              <%= f.radio_button :active, true %> Yes
				              <%= f.radio_button :active, false %> No
				          	<% end %>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <%= link_to "Cancel", users_path, class: 'btn btn-white'%>
                      		<%= f.submit class: "btn btn-primary" %>

                        </div>
                    </div>
                <% end %>
<!--                 </form> -->
<% content_for :javascript do %>
    <script type="text/javascript">
        <% if @notice.present? %>
            toastr.success("<%= @notice %>")
        <% end %>
        <% if @error.present? %>
            toastr.error("<%= @error %>")
        <% end %>

        $('.phone').mask('(000) 000-0000');

        $(".toggle-password").click(function() {

          $(this).toggleClass("fa-eye fa-eye-slash");
          var input = $($(this).attr("toggle"));
          if (input.attr("type") == "password") {
            input.attr("type", "text");
          } else {
            input.attr("type", "password");
          }
        });
    </script>
<% end %>