<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>New User</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li>
            <a>Users</a>
        </li>
        <li class="active">
            <strong>New User</strong>
        </li>
    </ol>
</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Create new user</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">






                <!-- <form method="get" class="form-horizontal"> -->

 <%= form_for(@user, url: @user.persisted? ? user_path(@user) : users_create_path(@user), method: @user.persisted? ? 'put' : 'post', html: {class: 'form-horizontal'}) do |f| %>
                    <div class="form-group"><label class="col-sm-2 control-label">First Name</label>

                        <div class="col-sm-10"><%= f.text_field :first_name, class: "form-control" %></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Last Name</label>

                        <div class="col-sm-10"><%= f.text_field :last_name, class: "form-control" %></div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10"><%= f.text_field :email, class: "form-control" %></div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Active <br/><small class="text-navy">Is user active?</small></label>

                        <div class="col-sm-10">

                        	<%= f.label 'Required' do %>
				              <%= f.radio_button :active, true %> Yes
				              <%= f.radio_button :active, false %> No
				          	<% end %>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white" type="submit">Cancel</button>
                      		<%= f.submit class: "btn btn-primary" %>

                        </div>
                    </div>
                <% end %>
<!--                 </form> -->
            </div>
        </div>
    </div>
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

});

</script>

<% end %>


