<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Visitor list</h2>
        <ol class="breadcrumb">
            <li>
                Home
        </li>
        <li class="active">
            <strong>Visitor list</strong>
        </li>
    </ol>
</div>
        </div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">

    <div class="ibox">
        <div class="ibox-title">
            <h5>All Visitors</h5>
            <div class="ibox-tools">
                <%= link_to 'Email Report', generate_report_path, class: 'white btn btn-info btn-xs' %>
                <%= link_to 'Export Stats', statistic_path, class: 'btn btn-primary btn-xs' %>

                <%#= link_to 'Create new appointment', appointments_new_path, class: 'btn btn-primary btn-xs' %>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-1">
                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> <%= link_to 'Refresh', appointments_path %></button>
                </div>
                <div class="col-md-11">
                    <%= form_tag(appointments_search_path) do %>
                        <div class="input-group">
                            <%= text_field_tag :search, params[:search], placeholder: "Search", class: "input-sm form-control" %><span class="input-group-btn">
                                        <%= submit_tag 'Go!', class: "btn btn-sm btn-primary" %>
                                    </span>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="project-list">

                <table class="table table-hover">
                    <tbody>
                    <% @appointments.each do |appointment| %>
                    <tr>
                        <td class="project-title">
                            <%= appointment.first_name %>
                        <br />
                        <small>Created <%= appointment.created_at.strftime("%d-%m-%Y") %></small>
                    </td>
                    <td class="project-completion">
                    	<%= appointment.last_name %>
                    </td>
                    <td class="project-people">
                    	<%= appointment.email %>
                    </td>
                    <td class="project-people">
                    	<%= appointment.date_of_visit %>
                    </td>
                    <td class="project-people">
                    	<%= appointment.reason_of_visit %>
                    </td>
                    <td class="">
                    	<ul>
                    		<% appointment.answer_values.keys.each do |key| %>
                    			<li><%= Question.find_by_id(key.to_s).try(:title) %>: <strong><%= appointment.answer_values[key] %></strong></li>
                    		<% end %>
                    	</ul>
                    </td>
                    <td class="project-actions">
                        <%= link_to appointment_path(appointment), class: "btn btn-white btn-sm" do %>
                            <i class="fa fa-folder"></i> View
                        <% end %>
                    </td>
                    </tr>
                    <% end %>
        </tbody>
        </table>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>


