<div class="wrapper wrapper-content">
	<div class="row">
	    <div class="col-lg-6">
	        <div class="ibox float-e-margins">
	            <div class="ibox-title">
	                <h5>Stats for visitors</h5>
	                <div class="ibox-tools">
	                    <a class="collapse-link">
	                        <i class="fa fa-chevron-up"></i>
	                    </a>
	                </div>
	            </div>
	            <div class="ibox-content ibox-heading">
	                <h3>
	                    Visitor Registered up
	                    <div class="stat-percent text-navy">34% <i class="fa fa-level-up"></i></div>
	                </h3>
	                <small><i class="fa fa-stack-exchange"></i> New visitor data from the previous quarter.</small>
	            </div>
	            <div class="ibox-content">
	                <div>

	                    <div class="pull-right text-right">

	                        <span class="bar_dashboard">5,3,9,6,5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7,3,2,1,0,9,5,6,8,3,2,1</span>
	                        <br />
	                        <small class="font-bold">1k</small>
	                    </div>
	                    <h4>
	                        Visitor report new data!
	                </h4>
	            </div>
	        </div>
	    </div>
	</div>



	<div class="col-lg-6">
	    <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <h5>Export Data</h5>
	            <div class="ibox-tools">
		            <%= form_tag(generate_csv_path(format: :csv)) do %>
					  <div class="form-group">
			            <%= select_tag :user_id, options_from_collection_for_select(User.doctors, "id", "full_name", params[:user_id]), prompt: "Select User", class: "form-control m-b" %>
			        </div>
			        <div class="form-group">
			        	<div class="row">
			        		<div class="col-md-6">
			           			<%= date_field_tag :start_date, params[:start_date] || Date.today, class: "form-control" %>
			           		</div>
			           		<div class="col-md-6">
	                    		<%= date_field_tag :end_date, params[:end_date] || Date.today, class: "form-control" %>
							</div>
						</div>
					</div>

					  <%= submit_tag "Download CSV", class: "btn btn-primary btn-xs" %>
					<% end %>
	            </div>
	        </div>

	    </div>
	</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

    $(".bar_dashboard").peity("bar", {
        fill: ["#1ab394", "#d7d7d7"],
        width: 100
    })

    var lineData = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                label: "Example dataset",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56, 55, 40]
            },
            {
                label: "Example dataset",
                fillColor: "rgba(26,179,148,0.5)",
                strokeColor: "rgba(26,179,148,0.7)",
                pointColor: "rgba(26,179,148,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(26,179,148,1)",
                data: [28, 48, 40, 19, 86, 27, 90]
            }
        ]
    };

    var lineOptions = {
        scaleShowGridLines: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        scaleGridLineWidth: 1,
        bezierCurve: true,
        bezierCurveTension: 0.4,
        pointDot: true,
        pointDotRadius: 4,
        pointDotStrokeWidth: 1,
        pointHitDetectionRadius: 20,
        datasetStroke: true,
        datasetStrokeWidth: 2,
        datasetFill: true,
        responsive: true,
    };


    var ctx = document.getElementById("lineChart").getContext("2d");
    var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

});


	<% if @notice.present? %>
	    toastr.success("<%= @notice %>")
	<% end %>
	<% if @error.present? %>
	    toastr.error("<%= @error %>")
	<% end %>
</script>

<% end %>